@{
    ViewData["Title"] = "Edit " + Model.Name;
    @model PetShopProject.Models.Animal;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminEdit</title>
</head>
<body>
    <div class="container text-center">
        @using (Html.BeginForm("EditPost", "admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.AnimalId)
            @Html.Label("Name: ")
            @Html.TextBox("Name")
            <br />
            @Html.Label("Age: ")
            @Html.TextBox("Age")
            <br />
            @Html.Label("Description: ")
            @Html.TextBox("Description")
            <br />
            @Html.Label("Category: ")
            @Html.DropDownListFor(c => c.CategoryId, new SelectList(ViewBag.Categories, "CategoryId", "Name"))
            <br />
            @Html.Label("Image: ")
            <input name="formFile" type="file" accept="image/*" srcset="@Model.ImagePath" />
            <br />
            <input type="submit" value="Submit" />
            @Html.ValidationSummary()
        }
    </div>
</body>
</html>
